[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
mlflow = "*"
numpy = "==1.26.4"
# numpy = "*"
s3fs = "==2024.6.1"
boto3 = "*"

[train]
ucimlrepo = "*"

[api]
fastapi = "==0.104.1"
uvicorn = "==0.24.0"
gunicorn = "==21.2.0"
pydantic = "==2.5.2"

[dev-packages]
pytest = "*"
